@import '../../../../asset/style/mixin.scss';
.m-header {
	text-align: right;
	font-size: px2rem(12);
	background: #6495ed;
	color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	.header-icon {
		color: #fff;
	}
}
