@import '../../../../asset/style/mixin.scss';
.m-header {
	text-align: right;
	font-size: px2rem(12);
	background: #545c64;
	display: flex;
	justify-content: flex-end;
  align-items: center;
  height: 56px !important;
	.header-icon {
		color: #fff;
	}
	.user-name {
		margin-left: 5px;
	}
}
