@import '../../asset/style/mixin.scss';
.table-list {
	position: relative;
	.header-list {
		position: absolute;
		z-index: 99;
		right: px2rem(80);
		top: px2rem(80);
	}
	.el-pagination {
		margin-top: px2rem(80);
		text-align: right;
	}
}
